{% extends "layout.html" %} {% block content %}
        <div class="row">
        	<form action="/" method="POST" id='landing' class="form-inline">
                <div class='col-lg-4 date'>
                    <input name:"depart" type='text' class="datepicker" id='start' placeholder="DEPARTURE"  />
                </div>
                <div class='col-lg-4 date' >
                    <input type='text' class="datepicker" id='end' placeholder="ARRIVAL" name:"arrival"/>
                </div>
                <div class="col-lg-4 date">
                    <button type="submit" id="submit" class="btn btn-info">Go!</button>
                 </div>
             </form>
        </div>
{% endblock %}