{% extends "layout.html" %} {% block content %}
<div id='fader'>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="btn-group btn-group-justified" role="group">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default">DAY 1</button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default">DAY 2</button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default">DAY 3</button>
                </div>
            </div>
        </div>
        <div class="panel-heading">
            <h2>HOTELS</h2>
        </div>
        <div class="panel-body">
            <form class='form-inline'>
                <div class="input-group">
                    <select class="form-control" id="sel1">
                        {% for hotel in hotels %}
                        <option>{{hotel.name}}</option>
                        {% endfor %}
                    </select>
                    <span class="input-group-btn">
                <button type="button" class="btn btn-primary pull-right" id='plus'>+</button>
                </span>
                </div>
            </form>
        </div>
        <div class="panel-heading">
            <h2>ACTIVITIES</h2>
        </div>
        <div class="panel-body">
            <form class="form-inline">
                <div class="input-group">
                    <select class="form-control" id="sel1">
                        {% for activity in activities %}
                        <option>{{activity.name}}</option>
                        {% endfor %}
                    </select>
                    <span class="input-group-btn">
                <button type="button" class="btn btn-primary pull-right" id='plus'>+</button>
                </span>
                </div>
            </form>
        </div>
        <div class="panel-heading">
            <h2>RESTAURANTS</h2>
        </div>
        <div class="panel-body">
            <form class="form-inline">
                <div class="input-group">
                    <select class="form-control" id="sel1">
                        {% for restaurant in restaurants %}
                        <option>{{restaurant.name}}</option>
                        {% endfor %}
                    </select>
                    <span class="input-group-btn">
                <button type="button" class="btn btn-primary pull-right" id='plus'>+</button>
                </span>
                </div>
                <form>
        </div>
        <div class="panel-heading" id="finished">
            <h3>Finished?</h3>
            <h5>Enter your email for a customized itinerary.</h5>
            <form role="form">
                <div class="form-group">
                    <input type="email" class="form-control" id="email" value="Your e-mail">
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>
</div>
<div id="map"></div>
<script type="text/javascript">
function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
        center: {
            lat: 40.714,
            lng: -73.957
        },
        zoom: 13
    });
    var marker = new google.maps.Marker({
        position: {
            lat: 41.0,
            lng: -74
        },
        map: map
    });
    marker.setMap(map);
}

function addMarker(location, map) {
    var marker = new google.maps.Marker({
        position: location,
        label: 'test',
        map: map
    });
    marker.setMap(map);
}
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4WQe8nrR7IKYl5qGpqP9PQFTAihLmARM&callback=initMap">
</script>
{% endblock %}
