body {
	height: 100%;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


i {
	height: 50px;
	width: 50px;
}

.transparent {
	background-color: rgb(0,0,0,0);
}

.navbar {
  background-color: transparent;
  background: transparent;
  border-color: transparent;
}

#map {
	height: 50vh;
}

